/* Botões */
.btn {
  display: inline-block;
  background-color: #c67c62;
  color: #fff;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #b36b50;
}


.btn-whatsapp {
  display: inline-block;
  background-color: #25d366;
  color: white;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 6px;
  font-weight: 600;
  transition: background-color 0.2s;
}

.btn-whatsapp:hover {
  background-color: #1ebe5a;
}

.btn-youtube {
  display: inline-block;
  background-color: #ff0000;
  color: white;
  text-decoration: none;
  padding: 12px 28px;
  border-radius: 6px;
  font-weight: 600;
  transition: background-color 0.2s ease;
}

.btn-youtube:hover {
  background-color: #cc0000;
}
